*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

body {
  margin: 0;
  height: 100vh;
  line-height: 1.6;
  font-family: 'Nunito', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1.2fr 40vw;
  grid-template-rows: .7fr 4.8fr 3fr 2fr;
  height: 100vh;
  margin: 2em;
}

.main {
  grid-column: 1 / 3;
  grid-row: 1/ 3;
  background: #FFFADF;
  display: grid;
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  grid-row-gap: 5rem;
  padding: 1.8rem 6rem;
}

.main__becs {
  color: #f80b95f3;
  font-size: 3rem;
}

.main__title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 1.3;
}

.main__title > * {
  font-weight: 400;
}

.main__title .singit {
  font-size: 2rem;
  font-weight: 300;
}

.main__text {
  margin-top: -3rem;
  font-size: 1.3rem;
  width: 85%;
}

.nom {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  background: #C4B35A;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.nom__text {
  color: #FFFADF;
  font-weight: 300;
}

.yum {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  background: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.yum__text {
  color: #f80b95f3;
  font-weight: 300;
}

.diabeetus {
  grid-row: 4 / 5;
  grid-column: 1 / 3;
  background: #202020;
  font-size: 1.3rem;
  color: #9e9e9e;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.diabeetus__demon {
  margin-top: 7rem;
}

header {
  background-color: #FFFADF;
  grid-row: 1 / 2;
  grid-column: 3 / -1;
  display: flex;
  justify-content: flex-end;
}

header .nav-btn {
  border: none;
  border-radius: 0;
  background-color: #f80b95f3;
  height: 1.5px;
  width: 3.5rem;
  margin-top: 2.8rem;
  margin-right: 1rem;
  content: "";
}

header .nav-btn::before, header .nav-btn::after {
  background-color: #f80b95f3;
  height: 1px;
  width: 3.5rem;
  content: "";
  display: block;
}

header .nav-btn::before {
  transform: translateY(-1rem);
}

header .nav-btn::after {
  transform: translateY(0.8rem);
}

.candy {
  grid-row: 2 / -1;
  grid-column: 3 / -1;
  background-image: linear-gradient(to right, #d3097f0e, #d3097f0e), url(../img/anghel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*body {
    font-family: $font-primary;
    color: #000000c4;
    font-weight: 300;
    line-height: 1.6;
    height: 100vh;
    background-image: linear-gradient(to right, $color-primary, $black);
    background-size: 100%;
    background-repeat: no-repeat;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: minmax(21rem, max-content) 3vh 2fr max-content;
}

// SECTIONS
.header {
    //background-color: $color-primary;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    align-content: center;
    justify-content: start;

    display: grid;

    &__logo {
        font-family: $font-display;
        font-size: 4rem;
        font-style: italic;
        letter-spacing: .2rem;
        margin-left: 15rem;
    }
}

.main-content {
    // background-image: linear-gradient(to bottom, $color-primary, $black);
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    color: #FFF;

    display: grid;
    gr
}

.beca {
    //background-color: $black;
    grid-row: 2 / 4;
    grid-column: 3 / -1;
}

.footer {
    background-color: $color-blue-light;
    grid-row: 4 / 5;
    grid-column: 1 / -1;
}
*/
